.about {
  padding-top: 5rem;
  line-height: 1.8;
  display: flex;
  //justify-content: space-between;

  a {
    text-decoration: underline;
    font-weight: 600;
    color: $accent-text-color;

    &:hover {
      text-decoration: none;
    }
  }

}

.about-content {
  margin-left: 5rem;

  h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    &:first-child {
      margin-top: 0.5em;
    }
  }

  p {
    margin-top: 0;
  }
}

.about-aside {
  display: flex;
  flex-direction: column;
  max-width: 29rem;
}

.photo {
  height: 30rem;
  float: left;
  width: 30rem;
  margin: 0 auto;
}


.span-custom {
  position: relative;
  color: #fff;
  font-style: italic;
  font-weight: 600;
  z-index: 0;
  display: inline-block;

  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(-1.5deg);
    background-color: #333;
  }

}

.photo-sub {
  font-size: 1.5rem;
}

.soft-skill__item {
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  color: $primary-text-color;
  padding: 0 1.5rem;
  border: 2px solid $primary-text-color;

  &:last-child {
    margin-right: 0;
  }
}

