.aside {
	width: 5rem;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 100vh;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 3rem 0;
	box-sizing: border-box;
	z-index: 2;
	background: #fff;
}

.progress-bar {
	position: absolute;
	width: 3px;
	height: 100vh;
	background: #ffffff;
	right: 0;
	top: 0;
}

.progress-bar__indicator {
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	background: #333;
}


.social {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.social__item {
	width: 4rem;
	height: 4rem;
	position: relative;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.social__data {
	position: absolute;
	background: #fff;
	height: 3.5rem;
	top: calc(50% - 3.5rem / 2);
	left: -30rem;
	border-radius: 0 10px 10px 0;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	padding: 0 1rem;
	z-index: -1;
	transition: left 0.4s, box-shadow 0s;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.social__data-open {
	left: 4rem;
	transition: left 0.4s, box-shadow 2.5s;
	box-shadow: 2rem 0 3rem 1rem rgba(0, 0, 0, 0.1);
	font-size: 1.3rem;
}

.btn-link, .btn-copy {
	display: block;
	background: #333;
	border: none;
	padding: 0.5rem 1rem;
	color: #fff;
	border-radius: 92px;
	font-size: 1.1rem;
}

.btn-copy {
	background: #fff;
	border: 1px solid $primary-text-color;
	color: $accent-text-color;
	padding: 0.4rem 0.9rem;
	margin: 0 0.5rem;
	cursor: pointer;
}

.icon {
	display: block;
	height: 3rem;
	width: 3rem;
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}

.icon-vk {
	background-image: url('../img/icon-vk.svg');
}

.icon-inst {
	background-image: url('../img/icon-inst.svg');
}

.icon-tg {
	background-image: url('../img/icon-tg.svg');
}

.icon-mail {
	background-image: url('../img/icon-mail.svg');
}

.icon-phone {
	background-image: url('../img/icon-phone.svg');
}

.icon-github {
	background-image: url('../img/icon-github.svg');
}







