.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.nickname {
  font-size: 2rem;

  &::after {
    content: '.';
  }
}

.header__left {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .header__logo {
      transform: translateY(2px) rotate(360deg);
      padding: 0;
      transition:padding 0.3s , transform 1s;
    }
  }
}

.header__logo {
  padding-left: 25px;
  box-sizing: border-box;
  left: calc(50% - 28px);
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(2px) rotate(0deg);
  transition: 0.3s;

  img {
    height: 50%;
  }
}

.navbar__list {
  display: flex;
}

.navbar__item {
  font-size: 2rem;
  text-transform: lowercase;
  position: relative;

  a {
    padding: 10px 15px;

    &:before {
      // position: absolute;
      // left: 10px;
      content: '.';
      opacity: 1;
      transition: 0.4s;
    }

    &:hover::before {
      opacity: 0;
      transition: 0.4s;
    }
  }




  &:last-child {
    margin-right: 0;
  }
}