@media screen and (max-width: 991px) {
	html {
		font-size: 9px;
	}

	.case {
		flex-direction: column-reverse;
		margin-bottom: 5rem;

		p {
			font-size: 1.5rem;
		}
	}

	.case_reverse {
		flex-direction: column;
	}

	.subscription {
		width: 100%;
		margin-right: 0;
	}

	.case__image {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 3rem;
	}

	.case__links {
		margin-top: 1.5rem;
	}
}
