.preview {
  top: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1000;
  background-color: #fff;

  display: none;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.title {
  margin-right: 50px;
}

.title__nickname {
  font-size: 6rem;
  position: relative;
  overflow: hidden;
}

.nick-left {
  margin-right: 142px;
}

.nick-numbers {
  left: 140px;
  top: 0;
  height: 6rem;
  text-align: center;
  position: absolute;
  display: block;
  width: 200px;
}

.pizza {
  position: relative;
  overflow: hidden;

  height: 400px;
  width: 384px;

  img {
    height: 180px;
    position: absolute;
    // transition: 0.5s;
    opacity: 1;

  }

  .hidden {
    display: none;
  }

  .one {
    transform: rotate(-90deg);
    left: 0px;
    top: 118px;
  }

  .two {
    transform: rotate(-30deg);
    left: 54px;
    top: 31px;
  }

  .three {
    transform: rotate(29deg);
    left: 152px;
    top: 31px;
  }

  .four {
    transform: rotate(89deg);
    left: 204px;
    top: 116px;
  }

  .five {
    transform: rotate(144deg);
    left: 164px;
    top: 199px;
  }

  .six {
    transform: rotate(198deg);
    left: 72px;
    top: 214px;
  }



}