.stab {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;

  a {
    text-decoration: underline;
    display: block;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .projects__item {
    margin-bottom: 2rem;
  }
  
  .technology {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 4px 15px;
      background: black;
      color: white;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }

}

.header {
  display: none;
}

main {
  display: none;
}

.footer {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 1rem;
  }

  ol {
    padding-left: 2rem;
  }
}