@import 'normalize';
@import 'typography';
@import 'header';
@import 'preview';


$link-color: #2937f0; 

body {
  background-color: #ffffff;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 2rem;
}


@import 'media995';

