@import 'preview';
@import 'normalize';
@import 'colors';
@import 'typography';
@import 'aside';
@import 'header';
@import "header-section";
@import 'about';
@import 'portfolio';

*:focus {
	outline: none;
}

body {
	background-color: #ffffff;
	//overflow: hidden; uncommit for right work preview
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 2rem;
}

.wrapper {
	height: 100%;
}

.main {
}

@import 'media995';
@import 'media991';
@import 'media768';
