body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier Prime', monospace;
}

.window {
    border: 1px solid #333;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.window-title {
    background: #333333;
    color: white;
    padding: 7px 15px;
}

.window-body {
    padding: 10px 15px;
}