/* VACANCY */

.configuration--img img {
    object-fit: cover;
    height: 270px;
    width: 100%;
}

.full-construction_vacancy {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}


.Прямоугольник__скругл__углы1229 {
    position: absolute;
    left: 117px;
    top: 251px;
    width: 900px;
    height: 2103px;
    z-index: 441;
}

/* ACCARDION */

.accordion__header-title-count {
    color: #cccccc;
}

.accordionInside__list {
    padding: 0;
    list-style: none;
    margin: 0 0 0 0;
}

.accordionInside__list :last-child {
    border-bottom: none;
    /* padding-bottom: 0; */
}

.accordion__item.accordion__item--foundation.accordion__item--open {
    padding-bottom: 0;
}

.accordionInside__list:first-child {
    padding-top: 27px;
}

.line-bottom {
    position: relative;
}

.line-bottom:after {
    content: '';
    position: absolute;
    width: calc(100% + 1000px);
    height: 1px;
    background-color: #cccccc;
    left: -45px;
    top: calc(100% + 28px);
}

.accordionInside__item {
    padding: 27px 0px 28px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.accordionInside__item--open .accordionInside__icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

.accordionInside__item--open .accordionInside__body {
    max-height: 1700px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.accordionInside__body {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.accordionInside__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1c1c1c;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.accordionInside__header:hover {
    color: #008b00;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.accordionInside__header:active,
.accordionInside__header:focus {
    color: #1c1c1c;
}

.accordionInside__header-title {
    font-family: "GothamPro", Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}

.accordionInside__header-title-price {
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 18px;
}

.accordionInside__icon {
    fill: #008b00;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

.accordionInside__body-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media all and (min-width: 1224px) {
    .accordionInside__body-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.accordionInside__body-col-img {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.accordionInside__list-pills-foundation {
    max-width: 80%;
    margin: 29px 0 26px;
}

.accordionInside__list-pills-foundation .list-pills__item {
    width: auto;
}

.accordionInside__list-pills-foundation .list-pills__item:nth-child(1) {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

@media all and (min-width: 1224px) {
    .accordionInside__list-pills-foundation {
        max-width: 53%;
    }
}

.accordionInside__list-dot-green-pile {
    margin: 20px 0 0 0;
    padding: 0 30px 0 0;
}

.accordionInside__list-dot-green-pile .list-dot-green__item {
    margin: 0 0 13px;
}

.accordionInside__body-row--pile .accordionInside__body-col-img {
    margin: 10px 0 0 0;
}

@media all and (min-width: 1224px) {
    .accordionInside__body-row--pile .accordionInside__body-col-img {
        margin: -19px 0 0 0;
    }
}

.accordionInside__text-opacity-pile {
    position: absolute;
    bottom: 42px;
    right: 0;
}

@media all and (min-width: 1224px) {
    .accordionInside__text-opacity-pile {
        right: -4px;
    }
}

.accordionInside__text-opacity-tape {
    position: absolute;
    bottom: 57px;
    right: 10px;
}

.accordionInside__strain-pile {
    position: absolute;
    top: 175px;
    left: 25px;
}

.accordionInside__list-dot-green-tape {
    margin: 40px 0 0 0;
}

.foundation-tabs__item {
    display: none;
    visibility: hidden;
}

.foundation-tabs__item--active {
    display: block;
    visibility: visible;
    -webkit-animation-name: tab-show;
    animation-name: tab-show;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background-size: cover;
}

@-webkit-keyframes tab-show {
    0% {
        opacity: 0;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

    100% {
        opacity: 1;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }
}

@keyframes tab-show {
    0% {
        opacity: 0;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

    100% {
        opacity: 1;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }
}

.accordionInside__item-inner-carcass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 18px 0 -30px;
    left: -8px;
    padding: 0 130px 0 0;
    position: relative;
}

@media all and (min-width: 1224px) {
    .accordionInside__item-inner-carcass {
        padding: 0 160px 0 0;
    }
}

.accordionInside__list-strain-carcass {
    max-width: 170px;
    position: absolute;
    right: -40px;
    top: 30px;
}

@media all and (min-width: 1224px) {
    .accordionInside__list-strain-carcass {
        right: 32px;
    }
}

.accordionInside__item-title-sub {
    font-size: 20px;
    line-height: 22px;
    font-family: "GothamPro", Verdana, sans-serif;
    font-weight: 600;
    margin: 20px 0 12px;
}

.accordionInside__body-col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.accordionInside__body-row--carcass {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 43px;
    z-index: 1;
    position: relative;
}

@media all and (min-width: 1224px) {
    .accordionInside__body-row--carcass .accordionInside__body-col:nth-child(1) {
        width: 51%;
    }

    .accordionInside__body-row--carcass .accordionInside__body-col:nth-child(2) {
        width: 45%;
    }

    .accordionInside__body-row--carcass .accordionInside__body-col:nth-child(2) .list-carcass__picture {
        margin: 0 -30px 0 0;
    }
}

@media all and (min-width: 1224px) {
    .accordionInside__item--walls .accordionInside__body-col-img {
        margin: 10px 0 0 -30px;
    }
}

.accordionInside__list-dot-green-walls {
    margin: 24px 0 0 0;
}

.accordionInside__list-dot-green--walls-sip {
    margin: 24px 0 0 0;
    padding: 0 100px 0 0;
}

.accordionInside__list-icon-stats-walls {
    margin: 34px 0 11px;
}

.accordionInside__item--roof .accordionInside__body-row {
    margin: 24px 0 0 0;
}

.accordionInside__item--roof .accordionInside__body-col-img {
    margin: 0 0 0 0;
}

@media all and (min-width: 1224px) {
    .accordionInside__item--roof .accordionInside__body-col-img {
        margin: 0 -54px 0 0;
    }
}

.accordionInside__list-dot-roof {
    margin: 0 0 12px;
}

.accordionInside__list-dot-roof .list-dot-green__item {
    padding: 0 0 6px 14px;
}

.accordionInside__list-strain-roof {
    padding: 0 0 0 0;
}

@media all and (min-width: 1224px) {
    .accordionInside__list-strain-roof {
        padding: 0 0 0 68px;
    }
}

.accordionInside__list-icon-roof {
    padding: 7px 0 0 0;
}

@media all and (min-width: 1224px) {
    .accordionInside__list-icon-roof {
        padding: 7px 0 0 68px;
    }
}

.warning {
    color: #ff9700;
    font-size: 14px;
    margin: 10px 0 15px;
    font-family: "GothamPro", Verdana, sans-serif;
    font-weight: 600;
}

.accordionInside__header-warning {
    margin: 10px 0 17px;
}

.accordionInside__item--warming .accordionInside__body-row {
    margin: 26px 0 0 0;
}

.accordionInside__item--warming .accordionInside__body-col {
    max-width: 335px;
    margin: 0 34px 0 0;
}

.accordionInside__item--warming .accordionInside__item-title-sub {
    font-size: 18px;
    line-height: 24px;
    margin: 21px 0 17px;
}

.accordionInside__logo-rockwool {
    position: absolute;
    bottom: 68px;
    right: 35px;
}

.accordionInside__logo-a-class-furnish {
    position: absolute;
    top: 173px;
    left: 2px;
}

.accordionInside__item--furnish .accordionInside__body-row {
    margin: 34px 0 0 0;
}

.accordionInside__item--furnish .accordionInside__body-col-img {
    margin: 0 38px 0 0;
}

.accordionInside__list-dot-green-furnish .list-dot-green__item {
    margin: 0 0 19px;
}

.accordionInside__list-dot-green-furnish-sip {
    margin: 35px 0 0 0;
}

.accordionInside__list-dot-green-doors {
    margin: 45px 0 0 0;
    padding: 0 10px 0 0;
}

@media (min-width: 1224px) {
    .accordionInside__item--windows .accordionInside__body-col {
        padding: 0 0 0 45px;
    }
}

.accordionInside__list-dot-green-windows {
    margin: 13px 0 -7px 0;
}

.accordionInside__list-dot-green-windows .list-icon-stats__item {
    margin: 0 45px 0 0;
}

.accordionInside__list-icon-stats-window {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.accordionInside__item--communications .accordionInside__item-title-sub {
    margin: 12px 0 20px;
}

.accordionInside__item--communications .accordionInside__body-row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 10px;
}

.accordionInside__item--communications .accordionInside__body-row:nth-child(2) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.accordionInside__item--communications .accordionInside__body-row:nth-child(3),
.accordionInside__item--communications .accordionInside__body-row:nth-child(5) {
    margin: 0 0 32px;
}

.accordionInside__item--communications .accordionInside__body-col-img-left {
    margin: 0 20px 0 0;
}

.accordionInside__body-row--small-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.accordionInside__list-dot-roof-log {
    margin: 115px 0 0 0;
}

.accordionInside__list-dot-green-pile-mono {
    padding: 0 60px 0 0;
}

.accordionInside__list-strain-block-height {
    margin: 25px 0 0 15px;
}

.accordionInside__list-strain-walls-brick {
    position: absolute;
    bottom: 0;
    right: 0;
}

.accordionInside__list-dot-green-doors-small {
    margin: 20px 0 0 0;
}

@media (min-width: 1224px) {
    .accordionInside__list-dot-green-doors-small {
        margin: 100px 0 0 0;
        padding: 0 60px 0 0;
    }
}

.accordionInside__list-strain-wall-brick {
    position: absolute;
    top: 0;
    right: 0;
}

.accordionInside__item--walls-brick .accordionInside__body-col-img {
    margin: 10px 0 0 -115px;
}

.accordionInside__body-row--carcass .accordionInside__body-col-sip--carcass:nth-child(1) {
    width: 55%;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
}

.accordionInside__body-row--carcass .accordionInside__body-col-sip--carcass:nth-child(2) {
    width: 40%;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
}

/* ACCARDION END */

/* CONTACT-BLOCK */

.contact-block {
    border-radius: 3px;
    background-image: -moz-linear-gradient(-90deg, rgb(246, 248, 246) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(246, 248, 246) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(246, 248, 246) 0%, rgb(255, 255, 255) 100%);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    margin: 2px;
}

.contact-block__p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 500;
}

.contact-block a {
    text-decoration: none;
}

/* CONTACT BLOCK END */

/* VACANCY PAGE END */

/* ASK ANSWER PAGE START */

.all-about-content {
    max-width: calc(100% - 288px - 38px);
    width: 100%;
}

/* ASK ANSWER PAGE END */

/* LOGIN PAGE START */

.main-wrapper--login-page {
    margin: 0 auto 0;
}

.login {
    max-width: 100%;
    padding: 30px 0 0;
    margin: 115px auto 0;
}

.login-video-bg {
    max-width: 100%;
    max-height: 680px;
    overflow: hidden;
    position: relative;
}

#video {
    width: 100%;
    height: 100%;
}

.modal-login {
    position: absolute;
    top: 50%;
    left: 50%;
    /*opacity: 1;*/
    visibility: visible;
    margin: -250px 0 0 -175px;
    padding: 20px 0 0;
    border-radius: 0;
    width: 350px;
    box-shadow: 0px 3px 25.81px 3.19px rgba(0, 0, 0, 0.35);
    z-index: 9;
}

.modal-recovery {
    margin: -188px 0 0 -175px;
    z-index: 8;
}

.modal-check {
    margin: -100px 0 0 -175px;
    z-index: 7;
}

.modal-login__title {
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.modal-login__form {
    max-width: 255px;
    margin: 20px auto 0;
}

.modal-login__input {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin: 0 0 10px;
}

.modal-login__input:focus {
    font-family: Verdana, sans-serif;
}

.modal-login__button {
    padding: 15px 0;
}

.modal-login__text {
    text-align: center;
    margin: 10px 30px 0 30px;
}

.input-border-grey {
    border: 1px solid #c6c6c6;
}

.modal-password-request {
    display: block;
    margin: 20px auto;
}

.modal-login__demo-button-block {
    border-top: 1px solid #cccccc;
    padding: 20px 0 20px 0;
    text-align: center;
}

.modal-login__demo-button-block button {
    width: 250px;
}

.modal-check__log {
    display: block;
    width: 101px;
}


/* LOGIN PAGE END */

/* PERSONAL-DATA START */

.return-logout {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.return-logout__return {
    font-size: 16px;
    padding-left: 40px;
    position: relative;
    text-decoration: none;
}

.return-logout__return-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -5px;
    transform: rotate(90deg);
    fill: #008b00;
}

.return-logout__logout {
    font-size: 16px;
    position: relative;
    padding-left: 26px;
    text-decoration: none;
    color: #989898;
}

.return-logout__logout:hover {
    color: #989898;
}

.return-logout__logout-icon {
    fill: #989898;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -8px;
}

.personal-data {
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    padding: 35px 35px 35px 35px;
}

.personal-data__header-title {
    font-family: "GothamPro", Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    text-transform: uppercase;
}

.personal-data__form {
    margin-top: 30px;
}

.personal-data__input-block {
    display: inline-block;
    margin-right: 17px;
}

.personal-data__input-block p {
    margin: 0 0 7px 0;
    color: #c6c6c6;
    font-size: 16.2px;
}

.personal-data__text {
    font-size: 16px;
    margin: 20px 0 25px 0;
}

.input-v2 {
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    /*color: #c6c6c6;*/
    padding: 2px 15px;
}

.input-v2::placeholder {
    color: #c6c6c6;
}

.input-v2:focus {
    font-family: 'Verdana', sans-serif;

}

.personal-data__checkbox {
    height: 14px;
    width: 14px;
}

.personal-data__button {
    padding: 13px 30px;
    border-radius: 3px;
}

/* PERSONAL-DATA END */

/* COOPERATION START */

.links-on-posts__list {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.links-on-posts__list li {
    margin-bottom: 20px;
}

.cooperation-posts__list {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.cooperation-posts__title {
    margin: 25px 0 30px 0;
}

.cooperation-posts__one-post p {
    font-size: 16px;
    line-height: 25px;
}

.cooperation-posts__one-post .list-dot-green__item {
    font-size: 16px;
    line-height: 25px;
}

.cooperation-posts__one-post .list-dot-green__item:before {
    top: 13px;
}


.cooperation-posts__one-post
.contact-block p {
    font-size: 17px;
}

/* COOPERATION END */

/* PROFILE START */

.header-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.header-panel__title {
    font-family: "GothamPro", Vedana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

.header-panel__contr {
    display: inline-block;
    font-size: 20px;
    color: #959595;
    margin: 0 0 0 12px;
}

.right-block,
.left-block {
    display: flex;
    align-items: center;
}

.header-panel__help,
.header-panel__user,
.header-panel__logout {
    color: #959595;
    padding-left: 40px;
    position: relative;
    font-size: 16px;
}

.header-panel__help-icon,
.header-panel__user-icon,
.header-panel__logout-icon {
    position: absolute;
    left: 20px;
    top: 2px;
    fill: #959595;
}

.team-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    height: 200px;
    /*flex-wrap: wrap;*/
}

.border-profile {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

.profile-block-padding-v1 {
    padding: 30px 30px 35px 30px;
}

.profile-block-padding {
    padding: 30px 30px 35px 30px;
    box-sizing: border-box;
}

.team-project__left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 319px);
    position: relative;
    padding-right: 0;
}

.team-project__right {
    width: 193px;
    border-left: 1px solid #c6c6c6;
    position: relative;
}

.profile-block-header {
    font-size: 28px;
    font-family: "GothamPro", Verdana, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

/*SLIDER START*/

.swiper-container {
    margin-top: 30px;
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 30px;
}

.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
    opacity: 0;
}

@media only screen and (max-width: 1236px) {
    .swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 0;
    }
}


/*SLIDER END*/

.team-project__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-width: 193px;
}

.team-project__btn {
    color: #ff0000;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 11px;
    padding: 10px 8px;
    cursor: pointer;
}

.teammate__img {
    background-image: url(../img/profile/person.jpg);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-position: center;
    background-position-y: -5px;
    background-size: 110px;
    margin-right: 20px;
}

.teammate {
    /*margin-right: 20px;*/
    display: flex;
    flex-direction: row;
}

.teammate__sub {
    width: 255px;
}

.teammate__sub--min {
    width: 125px;
}

.teammate__sub-name {
    font-size: 18px;
    font-weight: 600;
    font-family: "GothamPro", Vedana, sans-serif;
    margin: 0;
}

.teammate__sub-role {
    font-size: 14px;
    margin: 0 0 8px 0;
    color: #c6c6c6;
    line-height: 15px;
}

.teammate__sub-call {
    padding: 9px 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-family: "GothamPro", Vedana, sans-serif;

}

.teammate__sub-massage {
    border: 1px solid #80ca80;
    color: #229a22;
    padding: 9px 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-family: "GothamPro", Vedana, sans-serif;
}

.teammate__sub-massage:hover {
    border-bottom: 1px solid #80ca80;
}

.team {
    margin-top: 30px;
    position: relative;
}


/* ROW BLOCKS */

.profile-blocks-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-block-small {
    max-width: 32%;
    width: 100%;
    min-height: 465px;
}

.profile-blocks-header-margin {
    margin-bottom: 25px;
}

.profile-doc__list, .profile-plan__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.profile-doc__list li {
    color: #006c00;
    font-size: 16px;
    margin-bottom: 15px;
}

.profile-doc__list li a {
    text-decoration: none;
    display: block;
}

.doc-icon-download {
    float: right;
    fill: #adadad;
    margin-top: 2px;
}

.doc-icon-pdf,
.doc-icon-suc {
    margin-right: 10px;
}


.profile-plan {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.profile-plan__list li {
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 26px;
    position: relative;
    box-sizing: border-box;
}

.profile-plan__list {
    position: relative;
}

.profile-plan__list:before {
    content: '';
    position: absolute;
    display: block;
    height: 80%;
    width: 1px;
    background-color: #d1d1d1;
    left: 8px;
    top: 19px;
    z-index: 0;
}

/*.profile-plan__list li:after {*/
/*content: '';*/
/*position: absolute;*/
/*display: block;*/
/*height: 12px;*/
/*width: 1px;*/
/*background-color: #d1d1d1;*/
/*left: 8px;*/
/*top: 19px;*/
/*z-index: 10;*/
/*}*/


.profile-plan__svg {
    width: 17px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    background-position: center;
    background-repeat: no-repeat;
}

.grey {
    color: #808080;
}

.orange {
    color: #ff9700;
}

.green {
    color: #008b00;
}

.profile-plan .green .profile-plan__svg {
    background-image: url(../img/profile/checked.svg);
}

.profile-plan .orange .profile-plan__svg {
    background-image: url("../img/profile/hammer.svg");
    background-color: orange;
    border-radius: 50%;
    background-position-y: calc(50% - 1px);
}

.profile-plan .grey .profile-plan__svg {
    background-image: url("../img/profile/reload.svg");
    background-color: #d1d1d1;
    border-radius: 50%;
    background-position-y: calc(50% - 0.2px);
}

.profile-pay .green .profile-plan__svg {
    background-image: url(../img/profile/checked.svg);
}

.profile-pay .orange .profile-plan__svg {
    background-image: url("../img/profile/reload.svg");
    background-color: orange;
    border-radius: 50%;
    background-position-y: calc(50% - 1px);
}

.profile-pay .grey .profile-plan__svg {
    background-color: #d1d1d1;
    border-radius: 50%;
    background-position-y: calc(50% - 0.2px);
}

.profile-plan__list :last-child:after {
    display: none;
}

.plan-date {
    margin-right: 10px;
}

.profile-svg-bottom {
    position: relative;
    padding-left: 20px;
    color: #808080;
    margin-right: 5px;
}

.profile-block-bottom {
    padding: 20px 0;
    border-top: 1px solid #d1d1d1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    margin-top: auto;
    color: #808080;
}

@media screen and (max-width: 1080px) {
    .profile-block-small {
        padding: 30px 20px 0;
    }
}

.profile-pay {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.plan-step {
    color: #808080;
    margin-right: 10px;
    font-size: 14px;
    line-height: 15px;
}

.list-sum {
    margin-right: 10px;
}

.profile-pay__sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #d1d1d1;
    margin-top: 15px;
    margin-bottom: -10px;
}

.profile-pay__sum p {
    color: #808080;
    font-size: 14px;
    line-height: 25px;
}

.profile-pay__sum-number {
    font-size: 22px;
    font-weight: 700;
}

.profile-pay__sum-number--green {
    color: #199619;
}

.profile-pay__sum-number--black {
    color: #000;
}

.profile-pay__range {
    height: 10px;
    background-color: #d1d1d1;
    border: 3px solid white;
    border-radius: 8px;

}

.range-green {
    width: 25%;
    height: 10px;
    display: block;
    background-color: #199619;
    top: -7px;
    z-index: 2;
    border-radius: 8px;
}


.right-arrow {
    position: absolute;
    left: 98%;
    font-size: 35px;
    top: 57%;
    margin-top: -17px;
    color: #008b00;
    z-index: 10;
    cursor: pointer;
}

/* ROW BLOCKS END*/

/*NEW MODALS*/

.modal-massage {
    padding: 30px 50px 25px;
    width: 530px;
    margin: -247px 0 10px -315px;
    box-shadow: none;
}




.modal-massage__title {
    font-family: "GothamPro", Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    margin: 0;

}

.modal-massage__title-sub {
    font-family: "Verdana", sans-serif;
    font-size: 17px;
    text-align: center;
    color: #808080;
    line-height: 23px;
    max-width: 452px;
    margin: 17px auto;
}

.modal-massage__form {
    max-width: 530px;
}

.modal-massage__textarea {
    border: 1px solid #adadad;
    width: 100%;
    height: 200px;
    position: relative;
    font-size: 17px;
    padding: 10px 12px;
}

.modal-massage__textarea-block :after {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #adadad;
    bottom: 20px;
}

.modal-line {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #adadad;
    bottom: 45px;
}

.btn-upload {
    position: absolute;
    bottom: 13px;
    left: 11px;
    background-color: white;
    border: 1px solid #adadad;
    border-radius: 4px;
    width: 125px;
    height: 23px;
    font-size: 13px;
}

.file-upload {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 15px;
    left: 150px;

}

.file-upload__name {
    font-size: 13px;
}

.file-upload__icon {
    background-image: url("../img/profile/close.svg");
    width: 8px;
    height: 8px;
    margin-top: 3px;
    margin-left: 5px;
    display: block;

}

.modal-massage__textarea-block {
    position: relative;
}

.modal-massage__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.modal-massage__bottom input {
    border: 1px solid #adadad;
    width: 363px;
    height: 35px;
    font-size: 17px;
    padding-left: 12px;
}

.modal-massage__bottom button {
    font-size: 14px;
    padding: 8px 21px;
    border-radius: 4px;
}

.modal-massage__text-accept {
    max-width: 100%;
    margin-bottom: 0px;
    position: relative;
}


.modal-massage__text-accept:after {
    content: '';
    position: absolute;
    display: block;
    border: 44px solid transparent;
    border-top: 40px solid white;
    left: calc(50% - 44px);
    top: 38px;
}
/*NEW MODALS END*/

/* PROFILE END */

@media screen and (max-width: 1200px) {

    /*.profile-block-small {*/
    /*padding: 30px 2%;*/
    /*}*/
    /*.profile-doc {*/
    /*width: auto;*/
    /*}*/
}